@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.Sign-In-Buttons-Box {
    position: relative;
    width: 100%;
    height: 120px;
    @include flex(row, center, center);
    border-top: 1px solid $lightgrey;
}
.Sign-In-Buttons-Box::before {
    content: "OR";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $white;
    padding: 5px 30px;
    font-weight: bold;
    color: $lightgrey;
}