@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';


.Edit-Thing-Form__Content {
    @include flex(row, center, center, wrap);
    grid-gap: 2 * $side-padding-px;

    .Edit-Thing-Form__Inputs {
        min-width: $input-min-width;
        max-width: $input-max-width;

        @include flex(row, space-around, flex-start, wrap);
    }
    
}

