@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';
@import '../../scss/reusable-classes.scss';


.avatar-container {
    border-radius: 50%;
    background: $lightgrey;
    overflow: hidden;

    .img-avatar {
        height: 135%;
    }
}