$dark: #202124;
$pink: #f63f45;
$orange: orange;
$tomato: tomato;
$lightgrey: lightgrey;
$salad: rgb(51, 247, 51);
$cobalt: #2f75ec;
$white: #fff;
$lightseagreen: lightseagreen;
$almost-white: #eee;
$gold: gold;

$x-small-fz-px: 12px;
$x-small-fz-vw: 1.2vw;
$small-fz-px: 14px;
$small-fz-vw: 1.4vw;
$medium-fz-px: 20px;
$medium-fz-vw: 2vw;
$large-fz-px: 32px;
$large-fz-vw: 3vw;

$page-header-height-px: 50px;
$page-header-height-vw: 50 * 1vw / 12;
$back-link-offset-px: 30px;
$back-link-offset-vw: 30 * 1vw / 12;
$back-arrow-size-px: 24px;
$back-arrow-size-vw: 24 * 1vw / 12;

$navbar-height-px: 70px;
$navbar-height-vw: 70 * 1vw / 12;


$button-height-px: 36px;
$button-height-vw: 36 * 1vw / 12;
$button-width-px: 100px;
$button-width-vw: 100 * 1vw / 12;

$side-padding-px: 30px;
$side-padding-vw: 30 * 1vw / 12;

$input-min-width: 260px;
$input-max-width: 500px;
$input-padding: 10px;
$default-border-radius: 8px;
$default-border-radius-vw: 8 * 1vw / 12;

$small-avatar-size: 160px;
$large-avatar-size: 200px;

$thin-border-px: 1px;
$thin-border-vw: 1vw / 12;
$thick-border-px: 2px;
$thick-border-vw: 2vw / 12;
$x-thick-border-px: 3px;
$x-thick-border-vw: 3vw / 12;

$labels-offset-px: 20px;
